//====================================================================================================
.footer {
  display: flex;
  align-items: center;
  justify-content: end;
  font-size: rem(12);
  color: #A0AEC0;
  text-transform: uppercase;
  padding-top: rem(36);
}
//====================================================================================================
