//====================================================================================================
.footer {
  position: relative;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: end;
  font-size: rem(12);
  color: #A0AEC0;
  text-transform: uppercase;
  padding-top: rem(36);
  @include adaptiveValue("padding-bottom", 0, 30, 1920, 375, 1);
}
//====================================================================================================
