//====================================================================================================

//====================================================================================================

.header {
	&:not(:last-child) {
		@include adaptiveValue("margin-bottom", 42, 25, 1920, 375, 1);
	}
	&__container {
		display: flex;
		align-items: center;
		gap: rem(15);
		@include adaptiveValue("padding-top", 0, 20);
	}

	&__breadcumps {
		flex: 1 1 auto;
	}

	&__actions {
	}
}
.breadcumps-header {
	display: flex;
	flex-direction: column;
	align-items: start;
	gap: rem(5);
	color: #fff;

	&__list {
		display: flex;
		align-items: center;
		line-height: 1.5;
		gap: rem(8);
		font-size: rem(12);
	}

	&__item {
		display: flex;
		gap: rem(8);
		align-items: center;
		&:not(:last-child) {
			&::after{
				content:'/';
			}
		}
	}

	&__link {
		transition: color 0.3s ease 0s;
		@media (any-hover: hover){
			&:hover{
				color: $grayMenu;
			}
		}
	}

	&__title {
		font-weight: 700;
		line-height: 1.4;
	}
}
.actions-header {
	display: flex;
	align-items: center;
	gap: rem(20);

	&__search {
		padding: rem(11);
		background-color: #fff;
		border-radius: rem(8);
		display: flex;
		gap: rem(11);
		align-items: center;
		@media (min-width:$mobile){
			flex: 0 0 rem(200);
		}
		@media (max-width:$mobile){
			box-shadow: 0px rem(5) rem(14) rgba(0, 0, 0, 0.05);
			&:not(:last-child) {margin-bottom: rem(10);}
		}
	}

	&__input {
		flex: 0 0 calc(100% - rem(36));
		max-width: calc(100% - rem(36));
		&:focus {
			border: none;
			outline: none;
		}
	}

	&__user {
		display: flex;
		align-items: center;
		gap: rem(8);
		transition: color 0.3s ease 0s;
		@media (min-width:$mobileSmall){
			color: #fff;
		}
		@media (max-width:$mobileSmall){
			padding: rem(12) rem(15);
			display: flex;
			align-items: center;
			border-radius: rem(8);
			gap: rem(12);
			transition: all 0.3s ease 0s;
			span {
				color: $blue;
				font-size: rem(12);
				font-weight: 700;
				transition: all 0.3s ease 0s;
			}
			i {
				padding: rem(7.5);
				font-size: rem(15);
				border-radius: rem(8);
				transition: all 0.3s ease 0s;
				color: $blue;
			}
		}
		@media (any-hover: hover){
			&:hover{
				color: $grayMenu;
			}
		}
	}

	&__name {
		font-size: rem(12);
		font-weight: 700;
	}
}


//========================================================================================================================================================

//Burger
.icon-menu {
	display: none;
	@media (max-width: $tablet) {
		display: block;
		position: relative;
		width: rem(30);
		height: rem(18);
		cursor: pointer;
		z-index: 5;
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: rem(2);
			background-color: #fff;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: calc(50% - rem(1));
		}
		.menu-open & {
			span {
				width: 0;
			}
			&::before,
			&::after {
			}
			&::before {
				top: calc(50% - rem(1));
				transform: rotate(-45deg);
			}
			&::after {
				bottom: calc(50% - rem(1));
				transform: rotate(45deg);
			}
		}
	}
}
